@charset "utf-8";

body {
  background-color: rgb(225, 236, 255);
  font-family: arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

header h1 {
  margin: 0;
  margin-left: 0;
  font-weight: 800;
  color: rgb(58, 36, 250);
}

header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 400px;
}

header button {
  background-color: rgb(58, 36, 250);
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  margin-right: 40px;
  border: none;
  text-align: center;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(0, 85, 255);
}

main {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

main button {
  background-color: rgb(58, 36, 250);
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 0;
  padding: 5px 5px;

}