@charset "utf-8";

body {
  background-color: rgb(22, 27, 62);
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}