@charset "utf-8";

body {
  background-color: rgb(23 24 32);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

main {
  height: 100svh;
  display: grid;
  place-items: center;
}

section p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

span {
  color: rgb(34 90 238);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  } 
}
  
/* Dialog Box */
dialog {
  width: 310px;
  padding: 20px 25px;
  border-radius: 5px;
  margin: auto;
  outline: none;
  border-style: none;
  animation: anim 0.25s linear;
}

dialog::backdrop {
  background-color: rgb(61 61 61 / 15%);
  backdrop-filter: saturate(200%) blur(20px);
}

@keyframes anim {
  from {
    opacity: 0;
    translate: 0 -8px;
  } to {
    opacity: 1;
    translate: 0 0;
  }
}